# Python 
__pycache__/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env ## --> stores global defined variables

## Data files
*.txt
## *.csv temporarily commit the data files to github

## Files 
git_commands.ipynb

## Folders 
sample_data
drive
.config

# Unit testing
.pytest_cache

## Training
catboost_info
